{
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "**/*.astro",
            "options": {
                "parser": "astro",
                "tabWidth": 4,
                "useTabs": false
            }
        },
        {
            "files": "**/*.scss",
            "options": {
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}
